<div>
  <h2>Test!!!</h2>

  <div>
    {{tc.displays.storeResponse}}
  </div>

  <div>
    <button
      ng-click='tc.buttons.storeData()'
    >Send a store Request
    </button>
  </div>

  <div>
    {{tc.displays.getResponse}}
  </div>

  <div>
    <div>
      <input
        ng-model='tc.inputs.dataId'
      >
      </input>

      <input
        ng-model='tc.inputs.keyslotId'
      >
      </input>
    </div>
    
    <button
      ng-click='tc.buttons.getData()'
    >Send a get request
    </button>
  </div>
</div>
