<!doctype html>
<html ng-app="noauthData">
  <head>
    <meta charset="utf-8">
    <title>noauthData</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="IndexController as ic">
      <div>
        <button ng-click="ic.buttons.providerMode()">Service Provider</button>
        <button ng-click="ic.buttons.keysMode()">Keys Set Up</button>
        <button ng-click="ic.buttons.storeMode()">Store Data</button>
        <button ng-click="ic.buttons.retrieveMode()">Retrieve Data</button>
      </div>

      <div>
        Current Provider: {{ic.currentProvider()}}
      </div>

      <div>
        Current Secret Key: {{ic.currentSecret()}}
      </div>

      <div>
        Current Public Key: {{ic.currentPublic()}}
      </div>

      <div>
        <button ng-click="ic.buttons.showSecret()">Show Secret Key</button>
        <button ng-click="ic.buttons.showPublic()">Show Public Key</button>
      </div>
    </div>
    <div ui-view></div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
